.gitignore
.git
.github
LICENSE
README.md
ToDO.md
venv/
.env/
.venv/
environment/
Dockerfile
.docker
docker-compose.yaml
db.sqlite3
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/